<header class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="name">
        <h1>Hi, I’m Ahmed Elswelky <span class="wave">👋</span></h1>
        <p>I am a passionate web developer with over 1 year of experience in frontend development, specializing in responsive, high-performing applications and websites. A graduate of the ITI and a Siemens Software Academy diploma, I excel in agile teams, delivering optimized solutions with seamless user experiences. Skilled in Angular, TypeScript, JavaScript, SCSS and TYPO3, I continuously enhance my expertise, staying updated with the latest industry trends and practices.</p>
      </div>
      <div class="location">
        <img src="assets/images/locationIcon.svg" alt="locationIcon" class="light">
        <img src="assets/images/locationIconDark.svg" alt="locationIcon" class="d-none dark">
        <p>Cairo, Egypt</p>
      </div>
      <div class="social-icons">
        <a href="https://github.com/Ahmed-Elswelky" target="_blank" class="light"><img src="assets/images/gitHubLight.svg" alt="gitHub" class="gitHub light"></a>
        <a href="https://github.com/Ahmed-Elswelky" target="_blank" class="dark d-none"><img src="assets/images/gitHubDark.svg" alt="gitHub" class="gitHub"></a>
        <a href="https://www.linkedin.com/in/ahmed-elswelky-75b4b6259/" target="_blank" class="light"><i class="fa-brands fa-linkedin-in linkedIn light"></i></a>
        <a href="https://www.linkedin.com/in/ahmed-elswelky-75b4b6259/" target="_blank" class="dark d-none"><i class="fa-brands fa-linkedin-in linkedIn dark"></i></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="personalImg">
        <img src="assets/images/personalImg.jpg" alt="personalImg">
      </div>
    </div>
  </div>
</header>
