header {
  padding-top: calc(97px + 40px) !important;
}
.location, .social-icons {
  display: flex;
  align-items: center;
  gap: 8px;
}
.social-icons {
  gap: 15px;
}
.social-icons a:has(i) {
  line-height: 10px;
}
.linkedIn {
  font-size: 20px;
}
header .col-md-8 {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.linkedIn.light {
  color: var(--light-gray-600);
}
.linkedIn.dark {
  color: var(--dark-gray-600);
}
.personalImg {
  width: 280px;
  height: 320px;
  position: relative;
  right: 40px;
}
header .col-md-4 {
  justify-content: end;
  display: flex;
}
.personalImg::before {
  width: 280px;
  height: 320px;
  left: 40px;
}
.wave {
  display: inline-block;
  animation-name: waving;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
}


@keyframes waving {
  0% { transform: rotate(0deg); }
  10% { transform: rotate(14deg); }
  20% { transform: rotate(-8deg); }
  30% { transform: rotate(14deg); }
  40% { transform: rotate(-4deg); }
  50% { transform: rotate(10deg); }
  60% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .personalImg {
    width: 280px;
    height: 250px;
  }
  .personalImg::before {
    width: 200px;
    height: 230px;
  }

}

@media (max-width: 767px) {
  header {
    padding-top: calc(97px + 20px) !important;
  }
  .row {
    flex-direction: column-reverse;
    gap: 68px;
  }
  .personalImg {
    width: 240px;
    height: 280px;
    right: 0;
    left: 0;
  }
  .personalImg::before {
    width: 280px;
    height: 280px;
    left: -20px;
    top: 20px;
  }
  header {
    .col-md-4, .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  header .col-md-4 {
    justify-content: center;
    display: flex;
  }

}
