<section class="about grayBg" id="aboutId">
  <div class="container">
    <div class="row">
      <p class="title">About me</p>
    </div>
    <div class="row img-row">
      <div class="col-md-6">
        <div class="personalImg">
          <img src="assets/images/personalImg2.jpg" alt="personalImg" >
        </div>
      </div>
      <div class="col-md-6">
        <p>I am a passionate web developer with over a year of experience specializing in building high-performing, responsive, and user-friendly web applications. I hold a Bachelor’s degree in Refining and Petrochemical Engineering from Suez University and have advanced my technical expertise through a Frontend Web Development program at the Information Technology Institute (ITI) and a Software Diploma at Siemens Software Academy.</p>
        <br/>
        <p>Skilled in modern web technologies such as Angular, TypeScript, JavaScript, SCSS, and content management systems like TYPO3 and WordPress, I excel at creating seamless digital experiences. My professional journey includes roles at Ai.Parse, where I developed and maintained web applications, and Medgulf Insurance Company, where I built new websites.</p>
        <br/>
        <p>Beyond coding, I am adept in agile methodologies, problem-solving, and continuous learning, striving to stay ahead in the ever-evolving tech landscape.</p>
        <br/>
        <p>Finally, some quick bits about me.</p>
        <ul class="short-info">
          <li>ITI Graduate</li>
          <li>Siemens Software Academy Diploma Graduate</li>
        </ul>
      </div>
    </div>
  </div>
</section>
