.short-info {
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.personalImg {
  width: 400px;
  height: 480px;
  position: relative;
  left: 40px;
  /* z-index: 8; */
  z-index: 1;

}
.personalImg::before {
  width: 400px;
  height: 480px;
  left: -40px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .img-row {
    gap: 80px;
  }
  .img-row .col-md-6 {
    flex: 0 0 100%;
    max-width: 100%;
  }


}

@media (max-width: 767px) {
  .personalImg {
    width: 280px;
    height: 360px;
    right: 0;
    left: 0;
  }

  .col-md-6:has(.personalImg ):first-of-type {
    flex: 0 0 100%;
    max-width: 100%;
    justify-content: center;
    display: flex;
  }

  .personalImg::before {
    width: 320px;
    height: 360px;
    left: -20px;
    top: 20px;
  }
  .row {
    gap: 68px;
  }
}


